
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#header {
    height: 100px;
    width: 100%;
    background:purple;
}

#content {
    margin: 0 auto;
    padding: 50px 0 50px 0;
    width: 80%;
    background: red;
}
.bBox{
    margin: 50px auto 50px auto;
    padding: 10px;
    background: blue;
    height: 200px;
    width: 500px;
}

.yBox{
    margin: 10px;
    background:yellow;
    height: 100px;
    width: 100px;
    float:left;
    padding: 10px;
}

.gBod {
    margin: 10px;
    float:left;
    background:green;
    height: 150px;
    width: 300px;
    padding: 10px;
}

